<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>jQuery课程管理侧边菜单代码 - 站长素材</title>

<link href="/styles/styles.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/javascripts/jquery.min.js"></script>

<link rel="stylesheet" href="/styles/game.css">
</head>
<body>

<div class="lvc-wrap" id="lvc-nav">
  <ul class="lvc-nav">
    <li class="nav-pic1 next-layer" title="管理">
      <!-- <div class="cs2">
        <img src="\images\img\bg-img\33.jpg" id="logo2">
    </div> -->
      <a>个人收藏</a>
      <ol>
        <li>收藏馆
          <div class="hide">
            <div id="clearDiv" style="position: absolute;
            left: 429px;
            top: 31px;">
              <!-- <div class="a">用户名: <input type="text" placeholder="请输入姓名" >
                
              </div>
              <div class="b">密码:<input type="text" placeholder="密码" list="place">
                  
              </div>
              <div class="c" >城市:<input type="text" placeholder="place" list="sex">
                <button id="f" onclick="addNew()">+添加</button>  -->
              <!-- </div> -->
              <!-- <form id="contact-form" method="POST"  action="/sign"> -->
                <!-- <div>
                  <label for="add">用户名</label>
                  <input type="text" name="siger_name" id="address"  placeholder="请输入name">
                  <button type="button" id="btn_add">Verification</button>
                  <p class="address" id="p_address"></p>
                </div>
                
                <div>
                  <label for="add">密码</label>
                  <input type="text" name="siger_pass" id="address"  placeholder="请输入password">
                  <button type="button" id="btn_add">Verification</button>
                  <p class="address" id="p_address"></p>
                </div>
                <div>
                  <label for="add" >地区</label>
                  <input type="text" name="place" id="address" placeholder="请输入place">
                  <button type="button" id="btn_add">Verification</button>
                  <p class="address" id="p_address"></p>
                </div> -->
                
              <!-- <div class="form"> -->
                  <!-- <form id="contact-form" action="#" method="post"> -->
                    <!-- <input placeholder="Please enter your email address" type="email" tabindex="2" required> -->
                    <!-- <input type="submit" name="index" id="contact-submit" value="Subscribe"> -->
              <!-- </form> -->
          </div> 
         
     </div>
     
     <div>
      <div class="e" style="position: absolute;
      left: 316px;
      top: 283px;
      display: inline-flex;">
     <button onclick="cxText()" class="d">
            <!-- <span class="d"> -->
            
                查询  
        </button>
        <script src="/javascripts/game.js">
      
        </script>
        <button id="f" onclick="addNew()">+添加</button> 
           <!-- </span> -->
      <!-- <a href="" id="clearText">清空</a> -->
      <form action="/index" method="POST">
      <div id="tj1">
        <a href="#" onclick="close_div()">x</a>
        <h3>新增</h3>
        <ul>
       
            <li>姓名：<input type="text" placeholder="选择" id="name" name="friendname" ></li>
            <li>写文龄:<input type="text" placeholder="选择" id="age" name="old" ></li>
            <li>性别:<input type="text" placeholder="选择" id="sex" name="tabsex"></li>
            <li>籍贯:<input type="text" placeholder="选择" id="jiguan" name="city"></li>
            <li>文章名:<input type="text" placeholder="选择" id="place" name="bookname"></li> 
            <li>拓展:<input type="text" placeholder="选择" id="taici" name="other"></li>
            <li>备注:<input type="text" placeholder="选择" id="beijing" name="remark" ></li>
        </ul>
        <div class="bt">
        <button onclick="close_div()">取消</button>
        <button onclick="sure()">确定</button>
        
        </div>
    </div>
  </form>
     <!-- <div class="tb">
   <table id="showTable" >
    <tr>
      <th>性别</th>
      <th>年龄</th>
      <th>性别</th>
      <th>籍贯</th>
      <th>位置</th>
      <th>台词</th>
      <th>操作</th>
    </tr>
    
   
    <script src="/javascripts/game.js">
      
    </script> -->
       </div>
        </li>
       
      </ol>
    </li>
    <ol>
    <!-- <li class="nav-pic2" title="个人信息"><a>Profile</a></li> -->
    <li class="nav-pic3" title="会员界面"><a>Member of the interface</a></li>
    <!-- <li class="nav-pic4" title="个人访问"><a>personal visi</a></li> -->
    <!-- <li class="nav-pic5" title="接收信息"><a>IMAP</a></li> -->
    <li class="nav-pic6" title="草稿处"><a>Recycle Bin</a></li>
    <li class="nav-pic7 next-layer" title="历史梳理">
    	<a>历史梳理</a>
        <ol>
        	<li>历史统计</li>
            <li>实时统计</li>
        </ol>
    </li>
    <!-- <li class="nav-pic8" title="邮件管理"><a>Management</a></li>
    <li class="nav-pic9" title="系统管理"><a>System management</a></li> -->
    <li class="nav-pic10" title="个人收藏"><a>collection</a></li>
    <li class="nav-pic11" title="历史记录"><a>浏览记录</a></li>
    <li class="nav-pic12" title="积分商城"><a>个人中心</a></li>
  </ol>
  </ul>
  <button type="button" class="btn-nav"></button>
</div>

<script type="text/javascript">
$(document).ready(function(){
    //展开收起
    $(".btn-nav").click(function () {
      $(".lvc-wrap").toggleClass("lvc-close")
      $("ol").toggleClass("small-ol")
      $(".next-layer ol").hide()

      if($("#lvc-nav").hasClass('lvc-close')){
        $(".next-layer ").removeClass("arrow")
      }
    })

    //选中状态
    $(".lvc-nav li").click(function () {
      $(this).siblings().find('ol').hide()
      $(this).addClass("active").siblings().removeClass("active")
    })

    //选中子集清除父级active
    $("ol>li").click(function (e) {
      console.log('ol>li clicked')
      e.stopPropagation()
     $(this).parent().parent().removeClass("active")
    })

    //二级导航展开收起
    $(".next-layer").click(function () {
      $(this).children("ol").toggle();
      $(this).toggleClass("arrow").siblings().removeClass("arrow")
    })


     $("ol li").click(function () {
       if($("ol").hasClass('small-ol')) {
         $(".small-ol").hide();
         $(this).parent().parent().addClass("active")
       }
     })
})
</script>

<div class="tb">
   <table id="showTable" style="position: absolute;
   top: 0px;
   left: 272px;">
    <tr>
      <th>姓名</th>
      <th>写文龄</th>
      <th>性别</th>
      <th>籍贯</th>
      <th>文章名</th>
      <th>拓展</th>
      <th>备注</th>
    </tr>
    
   
    <!-- <script src="/javascripts/game.js">
      
    </script> -->
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>享受沟通的天堂Enjoy communication and use letters to facilitate communication</p>
<p>人工客服：<a href="http://sc.chinaz.com/" target="_blank"></a>232425252525</p>
</div>
</body>
</html>
