* {
	box-sizing: border-box;
}

body {
  font  : 17px sans-serif;

  padding : 2em;
  margin  : 0;

  background : rgb(7, 199, 233);
}

form {
	display: table;
    position: relative;
    margin: 0 auto;
    width: 989px;
    height: 85px;
    background: #fff;
}

form div {
    display: table-row;

    position: relative;

}

form label,form input{
	display: table-cell;
    margin-top: 2px;
}

form label{
    width: 100px;
    text-align: center;

    font-weight: bold;
}

form input{
	width: 199px;
    height: 27px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

button {
	margin-left: 20px;

	width: 125px;
	height: 30px;
	
	font-size: 17px;
	font-weight: bold;
	color: #fff;

	border-radius: 5px;
	outline: none;

	background-color: #6C8AF5;
}

#address {
	width: 169px;
	border: 1px solid #397ecc;
}

#lj{
	float: right;
    position: absolute;
    right: 31px;
}
#chName {
	width: 120px;
	border: 1px solid #397ecc;
}

#enName {
	border: 1px solid #47F04A;
}

.address,.chName,.enName {
	position: relative;
	top: -5px;

	font-size: 14px;

	height: 20px;
}

.address {
	color: #CACACA;
}

.chName {
	color: #F8313D;
}

.enName {
	color: #47F04A;
}